.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 60px;
}

.form-title {
  font-size: 36px;
  font-weight: bold;
}

.new-button,
.result-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {background-color: #0069d9}
}

.form-body {
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #fff;
}

.members-add {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar {
  width: 95%;
}

.members-add input,
.searchbar input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.members-add button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #0069d9;
  }
}

.members-email {
  width: 95%;
}

.members-email table {
  width: 100%;
  border-collapse: collapse;
}

.members-email th,
.members-email td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.members-email th {
  background-color: #f2f2f2;
}

.members-email tr:hover {
  background-color: #f2f2f2;
}
