.form-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 800px;
    justify-content: space-between;
  }

  .form-title {
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 70px;
  }
  .back-button {
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 70px;
  }